:root {
  --gray: #ccc;
  --white: #fff;
  --darkgray: #434343;
  --blacklight: #4e4e4e;
  --graylight: #e6e6e6;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid var(--gray);
  margin: 3rem;
  background-color: var(--graylight);
  color: var(--blacklight);
  @media screen and (max-width: 768px){
    border: none;
    flex-direction: column;
    align-items: center;
  }
}
.resume-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--gray);
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  color: var(--blacklight);
}
.resume-preview h2 {
  border-bottom: 1.5px solid var(--blacklight);
  padding-bottom: 0.5rem;
}

.editor {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 100%;
  padding: 2rem;
  background-color: var(--white);
}

.editor input, textarea {
  border-radius: 3px;
  border: 1px solid var(--graylight);
  outline: none;
  height: 1.5rem;
}

.hgroup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.sectionType {
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  border-radius: 3px;
  border: 1px solid var(--graylight);
  outline: none;
  color: var(--blacklight);
}

.section-options {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.preview-section {
  border-bottom: 1px solid var(--graylight);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-options button {
  cursor: pointer;
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  background-color: var(--graylight);
  border: none;
  border-radius: 3px;
  font-size: 0.92rem;
  transition-duration: 0.3s;
}

.section-options button:hover {
  background-color: var(--darkgray);
  color: var(--white);
}

.contentH1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
}

.download-pdf {
  cursor: pointer;
  background: none;
  border: none;
  padding-top: 0.5rem;
}

.preview-contact {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.preview-contact p {
  font-size: 0.9rem;
}