:root {
  --gray: #ccc;
  --white: #fff;
  --blacklight: #4e4e4e;
  --graylight: #e6e6e6;
}

.main-content {
  padding: 1rem;
  border: 1px solid var(--gray);
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: var(--blacklight);
  @media screen and (max-width: 768px){
    border: none;
  }
}

.editor-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  color: var(--blacklight);
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.resume-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--gray);
  padding: 2rem;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  color: var(--blacklight);
}
.resume-preview h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.editor {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 100%;
  padding: 2rem;
  background-color: var(--white);
}

.hgroup {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.sectionType {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.section-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-options input {
  height: 1.3rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-options button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.contentH1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
}

.download-pdf {
  cursor: pointer;
  background: none;
  border: none;
  padding-top: 0.5rem;
}